{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>

{{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
<strong>Publish date: </strong>{{ .PublishDate.Format $dateFormat }}
<br>
{{ with .Params.tags }}
  <strong>Tags: </strong>
  {{ range . }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
{{ end }}

{{ if ne .Params.toc false }}
  {{ partial "toc.html" . }}
{{ end }}

{{ .Content }}

<hr class="margin-large">

<div class="row">
    {{if .NextInSection}}
        <div class="sm-12 md-6 col">
            <- <a href="{{.NextInSection.Permalink}}" popover-top="Next post">{{.NextInSection.Title}}</a>
        </div>
    {{end}}
    {{if .PrevInSection}}
        <div class="sm-12 md-6 col align-right">
            <a href="{{.PrevInSection.Permalink}}" popover-top="Previous post">{{.PrevInSection.Title}}</a> ->
        </div>
    {{end}}
</div>

{{ partial "disqus.html" . }}

{{ end }}