{{if .Site.DisqusShortname}}
<div class="row">
    <div id="disqus_thread" class="text-center full-width">
        <button onclick="loadDisqusComments()">
            <div class="icon margin-right-small">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M8,11a1,1,0,1,0,1,1A1,1,0,0,0,8,11Zm4,0a1,1,0,1,0,1,1A1,1,0,0,0,12,11Zm4,0a1,1,0,1,0,1,1A1,1,0,0,0,16,11ZM12,2A10,10,0,0,0,2,12a9.89,9.89,0,0,0,2.26,6.33l-2,2a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h9A10,10,0,0,0,12,2Zm0,18H5.41l.93-.93a1,1,0,0,0,.3-.71,1,1,0,0,0-.3-.7A8,8,0,1,1,12,20Z"
                    />
                </svg>
            </div>
            Load comments
        </button>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>

<script>
    function loadDisqusComments() {
        var t = document,
            e = t.createElement('script');
        (e.src = '//{{ .Site.DisqusShortname }}.disqus.com/embed.js'),
            e.setAttribute('data-timestamp', +new Date()),
            (t.head || t.body).appendChild(e);
    }
</script>
{{end}}
