{{ define "main" }}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
<h2 class="post-list {{ if ne .Params.show_summary false }}summary{{ end }}">
    <a href="{{ .Permalink }}">
        {{ .Title }}
    </a>
</h2>
{{ if ne .Params.show_summary false }}
{{ .Summary }}
{{ end }}

<div class="row margin-top">
    <div class="sm-12 md-6 col">
        {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
        {{ .PublishDate.Format $dateFormat }}
    </div>
    <div class="sm-12 md-6 col align-right">
        {{ with .Params.tags }}
            {{ range . }}
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}

